<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/nav.css">

</head>
<body>
    <%- include('partials/nav') %>
    <section class="main_content" id="mainContent">
        <%- include('partials/bar') %>
        <section>
MUALUSI ORI UDO ITA CHATBOX YAWE NDAA
        </section>
    </section>

    <script src="../scripts/bar.js"></script>
</body>
</html>