<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/service.css">
    <link rel="stylesheet" href="/styles/nagivation.css">
</head>
<body>
     <%- include('partials/navigation') %>

    <section class="main_content" id="mainContent">
        <%- include('partials/topbar') %>
        <section class="heading">
            <h1>Welcome back, Sarah!</h1>
            <p>Here's what is happening today</p>
        </section>
        <section class="recommended_jobs">
            <section>
                <h3>Recommended jobs</h3>
                <button>view all</button>
            </section>
            <section class="recommended">
                <article class="job">
                    <img>
                    <h4>job title</h4>
                    <p>this is description</p>
                </article>
                <article class="job">
                    <img>
                    <h4>job title</h4>
                    <p>this is description</p>
                </article>
                <article class="job">
                    <img>
                    <h4>job title</h4>
                    <p>this is description</p>
                </article>
            </section>
        </section>

        <section class="learning">
            <section class="learning_heading">
                <h3>learning hub progress</h3>
                <h3> community updates</h3>
            </section>
            <section class="progress_updates">
                <!-- these sections should be in a row with section for updates having 3/4 width of the progress section -->
                <section class="progress">
                    <section class="progress_heading">
                        <strong id="progress_title">data science fundamentals</strong>
                        <progress></progress>
                        <button>continue learning</button>
                    </section>
                </section>
                <section class="updates">
                    <p>this are the updates</p>
                </section>
            </section>
        </section>
    </section>
    <script src="/scripts/sidebar.js"></script>
</body>
</html>